/*----------------------------------------------------------------------------*\
  2-TOOLS / 3 TYPOGRAPHY 
\*----------------------------------------------------------------------------*/


@mixin text-base {
  font-family: 'Work Sans', Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  font-weight: $token-font-weight-normal;
  font-weight: var(--token-font-weight-normal);
  line-height: $token-font-line-height;
  line-height: var(--token-font-line-height);
  @include themeColorVar("color", "token-color-text", true);
}

//We use mixins for text styles as they can be used in other block that need them, eg. c-footer
@mixin h1-style {
  @include text-base;
  font-weight: $token-font-weight-bold;
  font-weight: var(--token-font-weight-bold);
  font-size: $token-font-size-h1;
}

@mixin p-style {
  @include text-base;
  font-size: $token-font-size-body;
}

@mixin small-text-style {
  @include text-base;
  font-size: $token-font-size-xs;
}

@mixin a-style {
  @include text-base;
	line-height: 1;
	@include themeColorVar("color", "token-color-link", false);
  text-decoration: none;
}