/*----------------------------------------------------------------------------*\
  5-OBJECTS / LAYOUT
\*----------------------------------------------------------------------------*/


.o-site-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  background: $main;
}
  .o-main {
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      width: 100%;
      max-width: 500px;
    }

    &__links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
    .o-link {
      margin-bottom: 2.4rem;
      &:last-child { margin-bottom: 0; }
    }
   
    
  .o-footer {
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
      width: 100%;
      max-width: 500px;

      & > .c-link { margin-left: 1.3rem; }
    }
  }