/*----------------------------------------------------------------------------*\
  1-SETTINGS / 2 COLORS
\*----------------------------------------------------------------------------*/


$base-hue: 240;
$base-saturation: 90%;

:root {
	--token-color-main: hsl(#{$base-hue}, #{$base-saturation}, 99%);
	--token-color-text: hsl(#{$base-hue}, #{$base-saturation}, 26%);
	--token-color-link: hsl(#{$base-hue}, #{$base-saturation}, 36%);
	--token-color-link-border: hsla(#{$base-hue}, #{$base-saturation}, 36%, 30%);
	--token-color-footer: hsl(#{$base-hue}, #{$base-saturation}, 96%);
}

[data-theme="dark"] {
	--token-color-main: hsl(#{$base-hue}, #{$base-saturation}, 17%);
	--token-color-text: hsl(#{$base-hue}, #{$base-saturation}, 95%);
	--token-color-link: hsl(#{$base-hue}, #{$base-saturation}, 82%);
	--token-color-link-border: hsla(#{$base-hue}, #{$base-saturation}, 82%, 30%);
	--token-color-footer: hsl(#{$base-hue}, #{$base-saturation}, 11%);
}

$token-color-fallbacks: (
	token-color-main: #050752,
	token-color-text: #E7E8FE,
	token-color-link: #A8ABFA,
	token-color-footer: #030535
);