/*----------------------------------------------------------------------------*\
  1-SETTINGS / 6 BORDERS 
\*----------------------------------------------------------------------------*/


$token-border-width-sm: .1rem;
$token-border-width-md: .15rem;
$token-border-width-lg: .2rem;