/***


  _    _      _ _        __          __        _     _ 
 | |  | |    | | |       \ \        / /       | |   | |
 | |__| | ___| | | ___    \ \  /\  / /__  _ __| | __| |
 |  __  |/ _ \ | |/ _ \    \ \/  \/ / _ \| '__| |/ _` |
 | |  | |  __/ | | (_) |    \  /\  / (_) | |  | | (_| |
 |_|  |_|\___|_|_|\___/      \/  \/ \___/|_|  |_|\__,_|
                                                       
              
--

Normaly I minify my CSS but if you came here,
that's surely because you want to see how I have done it,
so enjoy your stay.

-

Notes: The code is built regarding ITCSS architecture, BEMIT naming convention and with the help of SCSS.
You can check the full code here: https://github.com/yulenfernandez/yulenfernandez-com



***/

/*----------------------------------------------------------------------------*\
  1-SETTINGS / GLOBAL
\*----------------------------------------------------------------------------*/


//Convert PX values to EM
@function pxToEm($pxValue) {
  @return ($pxValue/16) * 1em;
}


$token-spacing-base: .4rem;
$token-spacing-3xs: $token-spacing-base * 1; //4px (+ 4px)
$token-spacing-2xs: $token-spacing-base * 2; //8px (+ 4px)
$token-spacing-xs: $token-spacing-base * 3; //12px (+ 4px)
$token-spacing-sm: $token-spacing-base * 4; //16px (+ 8px)
$token-spacing-md: $token-spacing-base * 6; //24px (+ 8px)
$token-spacing-lg: $token-spacing-base * 8; //32px (+ 8px)
$token-spacing-xl: $token-spacing-base * 12; //48px (+ 16px)
$token-spacing-2xl: $token-spacing-base * 16; //64px (+ 16px)
$token-spacing-3xl: $token-spacing-base * 24; //96px (+ 32px



/**
 * Types
 */
$token-font-size-h1: 3.7rem;
$token-font-size-body: 2.1rem;
$token-font-size-sm: 1.9rem;
$token-font-size-xs: 1.5rem;

$token-font-line-height-map: (
  phone-max: 1.4,
  tablet-portrait-min: 1.4,
  tablet-landscape-min: 1.5,
  desktop-min: 1.5,
  large-desktop-min: 1.6
);


/**
 * Colors
 */
$base-hue: 240;
$base-saturation: 90%;

:root {
	--token-color-main: hsl(#{$base-hue}, #{$base-saturation}, 99%);
	--token-color-text: hsl(#{$base-hue}, #{$base-saturation}, 26%);
	--token-color-link: hsl(#{$base-hue}, #{$base-saturation}, 36%);
	--token-color-link-border: hsla(#{$base-hue}, #{$base-saturation}, 36%, 30%);
	--token-color-footer: hsl(#{$base-hue}, #{$base-saturation}, 96%);

	--token-font-weight-normal: 400;
	--token-font-weight-semibold: 600;
	--token-font-weight-bold: 600;
}

[data-theme="dark"] {
	--token-color-main: hsl(#{$base-hue}, #{$base-saturation}, 17%);
	--token-color-text: hsl(#{$base-hue}, #{$base-saturation}, 95%);
	--token-color-link: hsl(#{$base-hue}, #{$base-saturation}, 82%);
	--token-color-link-border: hsla(#{$base-hue}, #{$base-saturation}, 82%, 30%);
	--token-color-footer: hsl(#{$base-hue}, #{$base-saturation}, 11%);

	--token-font-weight-normal: 300;
	--token-font-weight-semibold: 500;
	--token-font-weight-bold: 600;
}

$token-color-fallbacks: (
	token-color-main: #050752,
	token-color-text: #E7E8FE,
	token-color-link: #A8ABFA,
	token-color-footer: #030535
);

$token-font-line-height: 1.5;
$token-font-weight-normal: 300;
$token-font-weight-semibold: 500;
$token-font-weight-bold: 600;



/**
 * Break points
 */
$token-screen-phone-max: pxToEm(599);
$token-screen-tablet-portrait-min: pxToEm(600);
$token-screen-tablet-landscape-min: pxToEm(900);
$token-screen-desktop-min: pxToEm(1200);
$token-screen-large-desktop-min: pxToEm(1800);

//Map to be used in "genMedias" mixin
$token-screen-map: (
  phone-max: $token-screen-phone-max,
  tablet-portrait-min: $token-screen-tablet-portrait-min,
  tablet-landscape-min: $token-screen-tablet-landscape-min,
  desktop-min: $token-screen-desktop-min,
  large-desktop-min: $token-screen-large-desktop-min,
);


$token-animation-normal: .5s ease-out;