/*----------------------------------------------------------------------------*\
  4-ELEMENTS / TEXTS
\*----------------------------------------------------------------------------*/


h1, p, a { margin: 0; }

h1 { 
  @include h1-style;
  margin-bottom: rwd-vertical-rythm(.5);
}

p {
  @include p-style;
  margin-bottom: rwd-vertical-rythm(2.5);
}

a { @include a-style; }