/*----------------------------------------------------------------------------*\
  4-ELEMENTS / TEXTS
\*----------------------------------------------------------------------------*/


h1, p, a { margin: 0; }

h1 { 
  @include h1-style;
  margin-bottom: $token-spacing-2xs;
}

p {
  @include p-style;
  margin-bottom: $token-spacing-xl;
}

a {
	display: inline-block;
	@include a-style;

	&:hover { cursor: pointer; }
}
