/*----------------------------------------------------------------------------*\
  6-COMPONENTS / BUTTONS 
\*----------------------------------------------------------------------------*/


.c-btn {
	display: inline-block;
	padding: $token-spacing-2xs $token-spacing-md;
	@include text-sm;
	font-weight: var(--token-font-weight-bold);
  background: var(--token-color-text);
  @include themeTransition("background");
  color: var(--token-color-main);
  @include themeTransition("color");
	border-radius: $token-border-radius-md;
	border: 0;

	&.is-active {
		background: var(--token-color-text);
		@include themeTransition("background");
		&:hover {
			cursor: pointer;
			background: var(--token-color-text);
			@include themeTransition("background");
		}
	}

	&:not(.is-active):hover {
		cursor: default;
	}
}
