/*----------------------------------------------------------------------------*\
  6-COMPONENTS / BUTTONS 
\*----------------------------------------------------------------------------*/


.c-btn {
	display: inline-block;
	padding: .8rem 2.4rem;
	@include small-text-style;
	font-weight: $token-font-weight-bold;
	font-weight: var(--token-font-weight-bold);
	@include themeColorVar("background", "token-color-text", false);
	@include themeColorVar("color", "token-color-main", false);
	border-radius: .4rem;
	border: 0;

	&.is-active {
		@include themeColorVar("background", "token-color-text", false);
		&:hover {
			cursor: pointer;
			@include themeColorVar("background", "token-color-text", false);
		}
	}

	&:not(.is-active):hover {
		cursor: default;
	}
}
