/*----------------------------------------------------------------------------*\
  6-COMPONENTS / FORMS
\*----------------------------------------------------------------------------*/


.c-form {
	&__input,
	&__textarea {
		padding: 1.2rem;
		background: none;
		border: $token-border-width-md solid #000000;
		@include text-sm;
		border-color: var(--token-color-link);
		@include themeTransition("border-color");
		border-radius: $token-border-radius-md;
		&::placeholder {
			color: var(--token-color-link);
			@include themeTransition("color");
		}

		[data-theme="dark"] & { border-width: $token-border-width-sm; }

	}
	&__submit-w {
		display: flex;
		align-items: center;
		margin-top: 3.7rem;

		@include for-phone-only {
			align-items: flex-start;
			flex-direction: column;
		}
	}
	&__submit-msg {
		margin-left: 2rem;
		@include text-sm;

		@include for-phone-only {
			margin-left: 0;
			margin-top: 2rem;
		}
	}
}
