/*----------------------------------------------------------------------------*\
  6-COMPONENTS / FORMS
\*----------------------------------------------------------------------------*/


.c-form {
	&__input,
	&__textarea {
		padding: 1.2rem;
		background: none;
		border: 1px solid $link;
		border-radius: .4rem;
		@include small-text-style;
		&::placeholder {
			color: rgba($link, .8);
			font-weight: 300;
		}
	}
	&__submit-w {
		display: flex;
		align-items: center;
		margin-top: 3.7rem;

		@include for-phone-only {
			align-items: flex-start;
			flex-direction: column;
		}
	}
	&__submit-msg {
		margin-left: 2rem;
		@include small-text-style;

		@include for-phone-only {
			margin-left: 0;
			margin-top: 2rem;
		}
	}
}
