/*----------------------------------------------------------------------------*\
  6-COMPONENTS / FORMS
\*----------------------------------------------------------------------------*/


.c-form {
	&__input,
	&__textarea {
		padding: 1.2rem;
		background: none;
		border: .15rem solid #000000;
		@include small-text-style;
		@include themeColorVar("border-color", "token-color-link", false);
		border-radius: .4rem;
		&::placeholder {
			@include themeColorVar("color", "token-color-link", true);
		}

		[data-theme="dark"] & { border-width: .1rem; }

	}
	&__submit-w {
		display: flex;
		align-items: center;
		margin-top: 3.7rem;

		@include for-phone-only {
			align-items: flex-start;
			flex-direction: column;
		}
	}
	&__submit-msg {
		margin-left: 2rem;
		@include small-text-style;

		@include for-phone-only {
			margin-left: 0;
			margin-top: 2rem;
		}
	}
}
