/*----------------------------------------------------------------------------*\
  5-COMPONENTS / LINKS
\*----------------------------------------------------------------------------*/


.c-link {
  padding-bottom: .8rem;
  border-bottom: .2rem solid #000000;
  border-color: var(--token-color-link-border);
  @include themeTransition("border-color");
	font-size: $token-font-size-sm;

  &--sm {
		padding-bottom: .4rem; 
		font-size: $token-font-size-xs;
	}

	&:hover {
		color: var(--token-color-text);
		@include themeTransition("color");
		border-color: var(--token-color-link);
		@include themeTransition("border-color");
	}

}


.c-quit {
	width: 2rem;

  stroke: var(--token-color-text);
  @include themeTransition("stroke");
	stroke-width: 2.7rem;

	[data-theme="dark"] & { stroke-width: 2.5rem; }
}
