/*----------------------------------------------------------------------------*\
  5-COMPONENTS / LINKS
\*----------------------------------------------------------------------------*/


.c-link {
  padding-bottom: .8rem;
  border-bottom: .2rem solid #000000;
	@include themeColorVar(border-color, link, .3, true);
	font-size: $link-size;

  &--sm {
		padding-bottom: .4rem; 
		font-size: $small-text-size;
	}

	&:hover {
		@include themeColorVar(color, text, 1, false);
		@include themeColorVar(border-color, link, 1, false);
	}

}


.c-quit {
	width: 2rem;

	@include themeColorVar(stroke, text, 1, true);
	stroke-width: 2.5rem;

	[data-theme="light"] & { stroke-width: 2.7rem; }
}
