/*----------------------------------------------------------------------------*\
  6-COMPONENTS / OTHERS
\*----------------------------------------------------------------------------*/


.c-page-head {
	display: flex;
	align-items: center;
	margin-bottom: $token-spacing-md;

	&__quit { margin-left: auto; }
}


.c-selector {
	@include text-sm;

	// Hide the theme's switcher if browser doesn't support CSS custom variables.
	&--theme-switch {
		@supports not (--css: variables) { display: none; }
	}

	&__item {
		&:not(:first-child) { margin-left: 1rem; }

		&.is-active {
			font-weight: var(--token-font-weight-bold);
		}
	}
}
