/*----------------------------------------------------------------------------*\
  6-COMPONENTS / OTHERS
\*----------------------------------------------------------------------------*/


.c-page-head {
	display: flex;
	align-items: center;
	margin-bottom: $token-spacing-md;

	&__quit { margin-left: auto; }
}


.c-selector {
	@include text-sm;

	&__item {
		&:not(:first-child) { margin-left: $token-spacing-xs; }

		&.is-active {
			font-weight: var(--token-font-weight-bold);
		}
	}
}
