/*----------------------------------------------------------------------------*\
  6-COMPONENTS / OTHERS
\*----------------------------------------------------------------------------*/


.c-page-head {
	display: flex;
	align-items: center;

	&__quit { margin-left: auto; }
}


.c-selector {
	@include small-text-style;

	&__item {
		&:not(:first-child) { margin-left: 1rem; }

		&.is-active {
			color: rgba($text, .8);
			font-weight: 500;
		}
	}
}
