<div class="s-wrapper  js-page  u-display-none" page="contact">
	<div class="c-page-head">
		<h1 class="u-mb-0  u-line-height-1">Contact</h1>
		<a class="c-page-head__quit  c-quit  js-pageLink" data-target-page="home"> 
			<svg width="100%" height="100%" viewBox="0 0 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
					<g id="Icon-cross">
							<g transform="matrix(0.865,0,0,0.865,13.3541,13.3541)">
									<path d="M0,0L200,200" style="fill:none"/>
							</g>
							<g transform="matrix(-0.865,0,0,0.865,186.354,13.3541)">
									<path d="M0,0L200,200" style="fill:none"/>
							</g>
					</g>
			</svg>
		</a>
	</div>

	<form id="js-form" class="c-form" name="contact" method="POST" netlify-honeypot="username" data-netlify="true">
		<input class="c-form__input" type="email" name="email" placeholder='{{ i18n "Your email" }}' required="true">
		<textarea class="c-form__textarea" name="message" placeholder='{{ i18n "Your message" }}' required="true"></textarea>
		<input class="c-form__input" type="text" name="username" placeholder="Your username">
		<div class="c-form__submit-w">
			<input id="js-formSubmitBtn" type="submit" class="c-btn  is-active" value='{{ i18n "Send" }}'>
			<span id="js-formSendingMsg" class="c-form__submit-msg  u-display-none">{{ .Params.o_form.s_sending }}</span>
			<span id="js-formSuccessMsg" class="c-form__submit-msg  u-display-none">{{ .Params.o_form.s_success }}</span>
			<span id="js-formFailureMsg" class="c-form__submit-msg  u-display-none">{{ .Params.o_form.s_fail }}</span>
		</div>
	</form>
</div>
