<div class="o-wrapper  js-page" page="home">
	<h1>Yulen Fernandez</h1>
	<p>{{ i18n "Content" }}</p>

	<div class="o-links-list">
		<a class="o-links-list__element  c-link" href="https://behance.net/yulenfernandez" target="_blank">{{ i18n "Design portfolio" }}</a>
		<a class="o-links-list__element  c-link" href="https://github.com/yulenfernandez" target="_blank">{{ i18n "Code projects" }}</a>
		<a class="o-links-list__element  c-link  js-pageLink" targetPage="contact">Contact</a>
		
	</div>
</div>
