/*----------------------------------------------------------------------------*\
  7-TRUMPS / UTILITIES
\*----------------------------------------------------------------------------*/


.u-ta-left { text-align: left; }
.u-ta-center { text-align: center; }
.u-ta-right { text-align: right; }

.u-display-none { display: none; }
.u-visibility-hidden { visibility: hidden; }

.u-designer {
  color: #ff6e5b;
  font-weight: 600;
}
.u-developper {
  color: #3dc1ff;
  font-weight: 600;
}