/*----------------------------------------------------------------------------*\
  7-TRUMPS / UTILITIES
\*----------------------------------------------------------------------------*/


.u-ta-left { text-align: left; }
.u-ta-center { text-align: center; }
.u-ta-right { text-align: right; }

.u-display-none { display: none; }
.u-visibility-hidden { visibility: hidden; }
