{{ define "main" }}

<section id="js-siteContent" class="o-site-content">

  <div class="o-main">

    <div class="o-main__content  js-page" page="home">
      <h1>Yulen Fernandez</h1>
      <p class="u-mb-45">Product designer and HTML/CSS developer passionate about great products. Currently working at ARGO in Montpellier, France.</p>
 			
			<h2 class="u-mb-15">Checkout my work:</h2>
      <div class="o-links  u-mb-45">
        <a class="o-links__element  c-link" href="https://behance.net/yulenfernandez" target="_blank">Behance Portfolio</a>
        <a class="o-links__element  c-link" href="https://dribbble.com/yulenfernandez" target="_blank">Dribbble Shots</a>
        <a class="o-links__element  c-link" href="https://github.com/yulenfernandez" target="_blank">GitHub Projects</a>
        <a class="o-links__element  c-link" href="https://codepen.io/yulenfernandez/" target="_blank">Code Pens</a>
      </div>

			<h2 class="u-mb-8">For more:</h2>
			<p class="u-smp">You can fin me on <a class="c-link  c-link--sm" href="https://twitter.com/yulenfernandez" target="_blank">Twitter</a> or <a class="c-link  c-link--sm" href="https://www.linkedin.com/in/fernandez-julen-6b379b94/" target="_blank">LinkedIn</a>. <br>
			Feel free to <a class="c-link  c-link--sm  js-pageLink" targetPage="contact" href="#">Contact me</a> </p>
    </div>

		<div id="js-form" class="o-main__content  js-page  u-display-none" page="contact">
			<div class="o-page-head">
				<h1>Contact</h1>
				<a class="o-page-head__quit  c-quit  js-pageLink" targetPage="home" href="#">
					<img class="c-quit__icon" src="img/icon-quit.svg">
				</a>
			</div>

			<form class="c-form" name="contact" method="POST" action="" netlify-honeypot="username" data-netlify="true">
				<input class="c-form__input" type="text" name="username" placeholder="Your username">
				<input class="c-form__input" type="email" name="email" placeholder="Your email" required="true">
				<textarea class="c-form__textarea" name="message" placeholder="Your message" required="true"></textarea>
				<div class="c-form__submit-w">
					<input id="js-formSubmitBtn" type="submit" class="o-btn  c-btn" value="Send">
					<span id="js-formMsg" class="c-form__submit-msg  u-display-none"></span>
				</div>
			</form>
		</div>
  
  </div>

</section>

{{ end }}
