{{ define "main" }}

	<section class="o-fullscreen">

		<div id="js-siteContent" class="o-fullscreen__main">

			<div class="o-wrapper  js-page" page="home">
				<h1>Yulen Fernandez</h1>
				<p>Product designer and HTML/CSS developer passionate about great products. Currently working at ARGO in Montpellier, France.</p>
		
				<div class="o-links-list">
					<a class="o-links-list__element  c-link" href="https://behance.net/yulenfernandez" target="_blank">Behance Portfolio</a>
					<a class="o-links-list__element  c-link" href="https://dribbble.com/yulenfernandez" target="_blank">Dribbble Shots</a>
					<a class="o-links-list__element  c-link" href="https://github.com/yulenfernandez" target="_blank">GitHub Projects</a>
					<a class="o-links-list__element  c-link" href="https://codepen.io/yulenfernandez/" target="_blank">Code Pens</a>
				</div>
			</div>

			<div id="js-form" class="o-wrapper  js-page  u-display-none" page="contact">
				<div class="c-page-head">
					<h1>Contact</h1>
					<a class="c-page-head__quit  c-quit  js-pageLink" targetPage="home"> 
						<img class="c-quit__icon" src="img/icon-quit.svg">
					</a>
				</div>

				<form class="c-form" name="contact" method="POST" action="" netlify-honeypot="username" data-netlify="true">
					<input class="c-form__input" type="text" name="username" placeholder="Your username">
					<input class="c-form__input" type="email" name="email" placeholder="Your email" required="true">
					<textarea class="c-form__textarea" name="message" placeholder="Your message" required="true"></textarea>
					<div class="c-form__submit-w">
						<input id="js-formSubmitBtn" type="submit" class="o-btn  c-btn" value="Send">
						<span id="js-formMsg" class="c-form__submit-msg  u-display-none"></span>
					</div>
				</form>
			</div>
		
		</div>

		<div class="o-fullscreen__secondary">

			<footer id="js-footer" class="c-footer">
				<div class="o-wrapper  c-footer__wrapper">
					
					<div class="c-footer__left-section">
						<a class="c-footer__link  c-link  c-link--sm  js-pageLink" targetPage="contact">Contact</a> <a class="c-footer__link  c-link  c-link--sm" href="https://twitter.com/yulenfernandez" target="_blank">Twitter</a> <a class="c-footer__link  c-link  c-link--sm" href="https://www.linkedin.com/in/fernandez-julen-6b379b94/" target="_blank">LinkedIn</a> 
					</div>
					<span id="js-footerLeftSection"></span>
					
					<div class="c-footer__right-section">
						<span id="js-footerRightSection"></span>
						<div class="c-footer__link--wide  c-selector">
							<a class="c-selector__item">Day</a>
							<a class="c-selector__item  is-active">Night</a>
						</div>
						<div class="c-footer__link--wide  c-selector">
							<a class="c-selector__item  is-active">En</a>
							<a class="c-selector__item">Fr</a>
						</div>
					</div>
				
				</div>
			</footer>

		</div>

	</section>
{{ end }}
