/*----------------------------------------------------------------------------*\
  5-STRUCTURES / LAYOUT
\*----------------------------------------------------------------------------*/


.s-fullscreen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
	
	&__main {
		display: flex;
		flex: 1;
		@include section-padding;
		@include themeColorVar("background", "token-color-main", true);
	}

}


.s-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 60rem;
	margin: auto;

	&--center { align-items: center; }
}


.s-links-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
	&__element:not(:last-child) { margin-bottom: 2.7rem; }
}
