/*----------------------------------------------------------------------------*\
  7-UTILITIES / 3 ALIGNMENTS 
\*----------------------------------------------------------------------------*/


.u-ta-left { text-align: left; }
.u-ta-center { text-align: center; }
.u-ta-right { text-align: right; }