/*----------------------------------------------------------------------------*\
  3-GENERIC / RESETS
\*----------------------------------------------------------------------------*/


$token-font-size-html-map: (
  phone-max: 56%,
  tablet-portrait-min: 56%,
  tablet-landscape-min: 62.5%,
  desktop-min: 62.5%,
  large-desktop-min: 65%
);


*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  @include genMedias("&", "font-size", $token-font-size-html-map);
}

  body {
    height: 100%;
    margin: 0;
    // font-size: $token-font-size-body; //Cascading reset default font-size so elements without a font-size will get the default one
  }